body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'mosaic';
  src: local('mosaic'), url(./Fonts/goodtimes.ttf) format('truetype');
}

@font-face {
  font-family: 'darwin';
  src: local('darwin'), url(./Fonts/darwin/regular.otf) format('truetype');
}

@font-face {
  font-family: 'din';
  src: local('din'), url(./Fonts/din/din.otf) format('truetype');
}

@font-face {
  font-family: 'karla';
  src: local('karla'), url(./Fonts/karla/Karla-Regular.ttf) format('truetype');
}
